<%= render "shared_a/header" %>

<div class="profile-title">
  <%="#{@user.nickname}様のプロフィール" %>
</div>

<% if current_user.id == @user.id %>
  <div class="promail-title">
     メールアドレス
    </div>
    <div class="profile-email">
  <%= @user.email %>
  </div>
  <% end %>

<div class="intro-title">
  自己紹介
</div>


<div class="profile-intro">
  <%= @user.introduce %>
</div>


<% if current_user.id == @user.id %>
    <%= link_to "お気に入り一覧", user_likes_path(@user.id), method: :get, class: "likes-show-btn" %>
    <%= link_to "アカウント編集", edit_user_registration_path, method: :get, class: "edit-btn" %>
    
    <%= link_to "1clickアカウント削除",  user_registration_path, data: { turbo_method: :delete }, class:"destroy-btn" %>
  <% end %>



