<%= render "shared_a/header" %>

<div class="main">
   <%= form_with(url: search_locations_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

 <%= form_with(url: random_locations_path, local: true, method: :get, class: "random-form") do |form| %>
  <%= form.text_field :search, placeholder: "地名をご入力ください", class: "search-b" %>
  <%= form.label :key, 'Key for meal_enter_id 2' %>
  <%= form.number_field :key, class: 'form-control' %>

  <%= form.label :key_b, 'Key for meal_enter_id 3' %>
  <%= form.number_field :key_b, class: 'form-control' %>

  <%= form.submit 'Get Random Items', class: 'btn btn-primary' %>
<% end %>

    <div><%= link_to '投稿ボタン', new_location_path, class: "location-btn" %></div>
<div class="contents">

  <div class="locations-contents">
    <% @locations.each do |location|%>
    <div class="locations-content">
     <%= link_to location_path(location.id) do %>

     <div class="location-img-content">
      <%= image_tag location.images[0], class: "location-img"%>
    </div>

     <div class="location-title">
      <%= location.title%>
      </div>

     <div class="location-address">
      <%= location.address%>
      </div>
     <% if location.meal_enter_id == 2%>
      <div class="meal-name-a"><%= location.meal_enter.name %></div>
      <%else%>
      <div class="meal-name-b"><%= location.meal_enter.name %></div>
      <%end%>
     <%end%>
      </div>
    <%end%>
    </div>
</div>

  </div>