<%= render "shared_a/header" %>

<% if @locations.nil? %>
  <h2>今回の場所にヒットするプランはありませんでした
  </h2>
<% else %>
<h2>こちらが今回のプランになります！</h2>
<% end %>

<div class="rand-main">
  
<div class="locations-contents">
    <% @locations.each do |location|%>
    <div class="locations-content">
     <%= link_to location_path(location.id) do %>

     <div class="location-img-content">
      <%= image_tag location.images[0], class: "location-img"%>
    </div>

     <div class="location-title">
      <%= location.title%>
      </div>

     <div class="location-address">
      <%= location.address%>
      </div>
     <% if location.meal_enter_id == 2%>
      <div class="meal-name-a"><%= location.meal_enter.name %></div>
      <%else%>
      <div class="meal-name-b"><%= location.meal_enter.name %></div>
      <%end%>
     <%end%>
      </div>
    <%end%>
    </div>

<% unless @locations.nil? %>
    <div class="sum-cost">
      <div class="random-sum">
      <div class="cost-attention">※こちらには交通費は含まれていません。</div>
      <div class="max-sum">
      <% sum = 0%>
      <div class="max-sum-name">このプランにかかる<span class="random-line">最高額</span>（予想）</div>
      <% @locations.each do |location|%>
        <%  sum = sum+ location.max_cost %>
      <% end %>
      <div class="max-sum-random">
      <%= "#{sum}円" %>
      </div>
      </div>

      <div class="min-sum">
        <% sum = 0%>
        <div class="max-sum-name">このプランにかかる<span class="random-line">最低額</span>（予想）</div>
        <% @locations.each do |location|%>
         <%  sum = sum+ location.min_cost %>
        <% end %>
        <div class="min-sum-random">
      <%= "#{sum}円" %>
      </div>
      </div>
    </div>
    </div>
    <% end %>
  </div>
    <%= render "shared_a/fotter" %>