<%= render "shared_a/header" %>

<div class="location-show-main">

  <div class="location-show-left">
   <div class="show-btn">
   <% if user_signed_in? %>
    
    <%= link_to "編集", edit_location_path(@location.id), method: :get, class: "location-edit-btn" %>
    <%if current_user.id == @location.user.id%>
    <%= link_to "1click削除", location_path(@location.id), data: { turbo_method: :delete }, class:"location-destroy-btn " %>
    <%end%>

   <% end %>
   </div>
<div class="locaton-show-title-m">
<p class="location-show-title"><%= "【#{@location.title}】"%></p>
</div>


<div class="posted-content">
  <%= image_tag @location.images[0], class: "mySlides main-image fade" %><br>
  <div class="other-images">
    <% @location.images[1..-1].each_with_index do |image, index| %>
      <%= image_tag image, class: "mySlides other-image fade", data: { slide_index: index + 1 } %>
    <% end %>
  </div>
</div>

<!-- JS -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    let slideIndex = 0;
    showSlides();

    function showSlides() {
      let i;
      const slides = document.getElementsByClassName("mySlides");
      for (i = 0; i < slides.length; i++) {
        slides[i].style.display = "none";
      }
      slideIndex++;
      if (slideIndex > slides.length) {
        slideIndex = 1;
      }
      slides[slideIndex - 1].style.display = "block";
      setTimeout(showSlides, 5000); 
    }
  });
</script>



<table class="show-table">
  <tr>
  <th class="estimated-time-des">所要時間</th>
<td class="show-estimated-time"><%= @location.estimated_time%></td>
</tr>

<tr>
  <th>食事 or 娯楽</th>
 <td><%= @location.meal_enter.name%></td>
</tr>

<tr>
  <th>最安値の場合</th>
  <td><%= "#{@location.min_cost}円"%></td>
</tr>

<tr>
  <th>最高値の場合</th>
  <td><%= "#{@location.max_cost}円"%></td>
</tr>

<tr>
  <th>説明</th>
  <td><%= @location.description%></td>
</tr>

<tr>
  <th>住所</th>
  <td><%= @location.address%></td>
</tr>

<tr>
  <th>電話番号</th>
  <td>
    <% if @location.phone_number.present? %>
      <%= @location.phone_number%>
    <% else %>
      <p>電話番号はありません。</p>
    <% end %>
</td>
</tr>

<tr>
  <th>最寄り駅</th>
  <td>
    <% if @location.phone_number.present? && @location.travel_time.present? %>
      <%= "#{@location.nearest_station}駅から約#{@location.travel_time}分"%>
    <% else %>
      <p>最寄り駅の情報はありません。</p>
    <% end %>
  </td>
</tr>

<tr>
  <th>営業時間</th>
  <td><%= @location.business_hours%></td>
</tr>

<tr>
  <th>公式ウェブサイト</th>
  <td>
    <% if @location.official_url.present? %>
      <%= link_to @location.official_url, @location.official_url, target: "_blank" %>
    <% else %>
      <p>公式ウェブサイトはありません。</p>
    <% end %>
  </td>
</tr>

<tr>
  <th>予約の有無</th>
  <td><%= @location.requires.name%></td>
</tr>

<tr>
  <th>投稿者</th>
  <td><%= link_to @location.user.nickname, user_path(@location.user.id), class: "location-user-path"%></td>
</tr>

</table>

<% if user_signed_in? %>
    
  <div id="like-btn<%= @location.id %>">
   <% if user_signed_in? && @location.liked_by?(current_user) %>
    <%= link_to likes_path(@location.id), method: :delete, data: { turbo_method: :delete }, class: "location_likes" do %>
      <i class="fas fa-heart"></i> お気に入り登録済
    <% end %>
    <% else %>
    <%= link_to likes_path(@location.id), method: :post, data: { turbo_method: :post }, class: "location_likes" do %>
      <i class="far fa-heart"></i> お気に入り登録する
    <% end %>
   <% end %>
  </div>
<% end %>
</div>



<div class="location-show-right">
<div class="container">
    <% if user_signed_in? %>
    <%= form_with model: @comment, local: true do |f| %>
        <%= f.hidden_field :location_id, value: @location.id %>
        <%= f.text_area :text, placeholder: "コメントする", rows: "2" %>
        <%= f.submit "送信" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>

  <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
    </div>
    </div>
</div>

<%= render "shared_a/fotter" %>
    